.postList {
  list-style: none;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 15px;
  margin: 5px 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.addPostButton {
  text-align: right;
}
.viewPost-btn {
  display: flex;
  justify-content: space-between;
}
.viewPost-panel {
  border: 1px solid lightgray;
  border-radius: 15px;
}
.label {
  font-weight: bold;
}
.comments {
  text-align: justify;
  /* font-weight: 300; */
}
li:hover {
  background-color: lightseagreen;
  cursor: pointer;
  color: white;
  box-shadow: 0px 0px 12px black;
}
.postTitle {
  font-weight: 300;
  letter-spacing: 3px;
  color: teal;
  text-transform: uppercase;
}
.category {
  font-style: italic;
}
.addPost {
  border: 1px solid teal;
  border-radius: 15px;
  padding: 15px;
  background-color: lightcyan;
}
.icon_delete {
  width: 30px;
  height: auto;
  cursor: pointer;
}
.list {
  display: flex;
  justify-content: space-between;
}
.delete_section {
  padding: 10px;
}
.title {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
}
.post-labels {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  background-color: lightseagreen;
  color: white;
  width: 20%;
  padding: 2px;
  padding-left: 5px;
}
.post-labels-list {
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  background-color: lightseagreen;
  color: white;
  padding: 2px;
}
.error-msg {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
}
.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px !important;
  border-radius: 0px !important;
  background-color: teal !important;
  border: none !important;
}
.error {
  border: 2px solid red;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px;
  background-color: lightcyan;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  color: red;
}
.show-error {
  display: block;
}
.hide-error {
  display: none;
}
